.prefix{
    width: 1349px;
    height: 4244.21875px;
}
body{
 

background-color: #dee1e5;

}
.fullwrapper {
padding-top: 60px;
    width: 1349px;
  
}

.header{
    width:1349p
  
display: block;
}
.navbar-inner{
    width: 1349px;
    height: 61px;
}
.navbar-fixed-top {
    top: 0;
    width: 1349px;
    height: 61px;
    margin: 0px 0px 0px 0px;
    position: fixed;
    right: 0;
    left: 0;
}

.navbar-fixed-bottom {
  top: 0;
    width: 1349px;
    height: 61px;
    margin: 0px 0px 0px 0px;
    position: fixed;
    right: 0;
    left: 0;    
}



.navbar-fixed-top .navbar-inner {
padding-left: 0;
padding-right: 0;
width: 1349px;
height: 60px;
border-radius: 0;
border-width: 0 0 1px;
}
.navbar-fixed-bottom .navbar-inner {
padding-left: 0;
padding-right: 0;
width: 1349px;
height: 60px;
border-radius: 0;
border-width: 0 0 1px;
}



.navbar-inner {
min-height: 60px;
background-color: #fff;
border-radius: 0;
border-width: 0 0 1px;
}



.container {
margin-right:89.5px;
margin-left: 89.5px;
   width: 1170px;
    height: 400px;
}
.navbar .brand {
float: right;
margin-right: -20px;
width: 104px;
height: 50px;
padding-left: 10px;
padding-right: 10px;
padding-top:5px;
padding-bottom: 5px;    
    
}



a{
    
    color: #5eb6c4;
text-decoration: none;
    width: auto;
    height: auto;

}
img {
   vertical-align: middle;
   width: 104x;
    height: 50px
    cursor: auto;
}
.nav-collapse.collapse {
 width: 1170px;
height: 0px;
}
.collapse {
position: relative;

}
.navbar .nav {
margin: 10px 0 0 0;
float: right;
position: relative;
display: block; 
 padding-right: 40px;
list-style: none;
}
.nav.nav-center {
right: 12%!important;
}


.navbar .nav > li {
margin-right: 2px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover  {
background-color: #e9edf2;
color: #535e6a;
border-radius: 3px;
box-shadow: none;

}
.navbar .nav > .active > a:focus {
background-color: #e9edf2;
color: #535e6a;
border-radius: 3px;
box-shadow: none;  
}
.navbar .nav > li {
margin-right: 2px;
    float: right;
}
.dropdown {
position: relative;
}

.nav.pull-left {
    float: left;
    width: 126px;
    height: 40px;
    padding-left:40px;
    margin-top: 10px;
}
.navbar .nav > li > a {
float: none;
padding: 10px 15px 10px;
color: #7f8b97;
text-decoration: none;
font-size: 14px;
text-decoration: none;
text-shadow: none;
}

.nav > li > a {
display: block;
}
.nav {
list-style: none;
}

.navbar .nav > li > a.special {
background: none repeat scroll 0 0 #ea766c;
color: white;
margin: 2px 5px;
padding: 8px 10px;
font-size: 14px;
}

0li:hover{
    background: rgb(233, 237, 242);
    color: rgb(83, 94, 106);
    padding: 10px 7px ;
    border-radius: 3px 3px 3px 3px;
            border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    box-shadow: none;
}
section.container. fullscreen. mainpage{
      width: 1349px;
    height: 2489px;


}



div#header_carousel .carousel slide{
    width: 1349px;
    height: 340px;
}
div.carousel_container.cf.header_carousel{
    width: 1349px;
    height: 360px;
}
div.carousel_inner{
    width: 1349px;
    height: 340px;
}
div.item.active{
    width: 1549px;
    height: 370px;
}
div.main-slider first{
    width: 1549px;
    height: 370px;
}



.carousel {
position: relative;
margin-bottom: 20px;
line-height: 1;

}
.header-carousel .carousel-inner {
height: 340px;
    width: 1349px;
}

.header-carousel .carousel-inner > .item {
float: left;
    width: 1549px;
    height: 370px;
}
element.style {
width: 1549px;
background-position: -104px -25px;
}
.main-slider.first {
background-image: url("../img/first.jpg");
}

.main-slider {
background-repeat: no-repeat;
background-size: cover;
display: block;
float: left;
height: 370px;
line-height: 1.9;
color: #30475c;
}


h1 {
    
padding-top: 10px;
font-size: 32px;
margin-top: 0;
display: block;
}
.slider-container {
padding-top: 3%;
padding-right: 20%;
padding-left: 10%;
position: relative;
min-height: 300px;
font-weight: bold;
}

data-stellar-ratio{
    width: 1349px;
    height: 230px;}

.main-slider .impo {
color: #ba0505;
font-weight: bold;
}
.slider-container h1 {
font-weight: bold!important;
}
.main-slider.first .slogan-image {
position: absolute;
bottom: 7%;
left: 110px;
}


.carousel {
position: relative;
margin-bottom: 20px;
line-height: 1;
}
.header-carousel .carousel-inner {
height: 340px;
}

.header-carousel .carousel-indicators {
bottom: 10%;
top: auto;
right: 50%;
text-align: center;
padding-right: 0; 
margin-right: -40px;
}
ol {
display: block;
list-style-type: decimal;

}

.carousel-indicators {
position: absolute;
margin: 0;
list-style: none;
}

.header-carousel .carousel-indicators li {
float: right;
}
.carousel-indicators li {
cursor: pointer;
    display: block;
    width: 10px;
height: 10px;
margin-left: 5px;
text-indent: -999px;
background-color: rgba(256,255,255,0.25);
border-radius: 5px;
}

.cta-box.slideshare p {
background: none repeat scroll 0 0 #536c84;
bottom: 0;
color: #fff;
font-size: 16px;
margin: 0;
padding: 10px 0;
position: absolute;
text-align: center;
width: 100%;
left: 0;
}

.carousel-indicators .active {
background-color: #fff;
}
.carousel {
line-height: 1;
}


img {
display: inline-block;
width: auto	;
height: auto;
vertical-align: middle;
border: 0;

}

.row-fluid .offset1:first-child {
margin-right: 8.547008547008547%;
}

.row-fluid .span2 {
width: 14.52991452991453%;
}
.row-fluid [class*="span"] {
display: block;
min-height: 30px;
box-sizing: border-box;
float: right;

}


a.cta-pointer. span2. offset1{
 width: 196px;
    height: 230px;
}

a {
color: #5eb6c4;
text-decoration: none;
}
.cta-box {
padding: 50px 0 10px;
text-align: center;
position: relative;
min-height: 170px;
}
.widget {
background: #fff;
box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
a {
color: #5eb6c4;
}
element.style {
border-left-color: #1cc9cd;
}
.corner_arrow {
border-color: transparent;
border-style: solid;
border-width: 0 0 30px 30px;
left: 0;
position: absolute;
top: 0;
z-index: 2;
}
.cta-box {
text-align: center;
}
a {
color: #5eb6c4;
}
.cta-box .cta-icon.company-icon {
background-position: 0 -200px;
}
.cta-box .cta-icon {
background-image: url("../img/sprite1.png");
display: inline-block;
height: 100px;
width: 100px;
}
element.style {
color: #1cc9cd;
}
.cta-box h3 {
background: none repeat scroll 0 0 rgba(0,0,0,0);
border: medium none;
margin-top: 12px;
padding: 0;
}
.widget > h3 {
font-size: 16px;
border-bottom: 1px solid #eee;
}
h3 {
font-weight: 700;
text-transform: uppercase;
text-shadow: 2px 1px 0 rgba(255,255,255,0.2);

}
.cta-box.slideshare {
background-attachment: scroll;
background-clip: border-box;
background-color: #fff;
background-origin: padding-box;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: auto auto;
cursor: pointer;
position: relative;
}


widget. cta-box. slideshare {
    width: 196px;
    height: 230px;
    
}

.cta-box {
padding: 50px 0 10px;
text-align: center;
min-height: 170px;
}
.widget {
background: #fff;
box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

element.style {
border-left-color: #2ecc71;
}
.cta-box .corner_arrow {
border-color: transparent;
border-style: solid;
border-width: 0 0 30px 30px;
left: 0;
position: absolute;
top: 0;
z-index: 2;
}
.cta-box .cta-icon.company-icon {
background-position: 0 -200px;
}
.cta-box .cta-icon.talent-icon {
background-position: 0 0;
}
.cta-box .cta-icon {
background-image: url("../img/sprite.png");
display: inline-block;
height: 100px;
width: 100px;


}
.carousel-control {
    border: 0;
background: 0;
position: absolute;
top: 40%;
left: 15px;
width: 40px;
height: 40px;
margin-top: -20px;
font-size: 60px;
font-weight: 100;
line-height: 30px;
color: #fff;
text-align: center;
border: 3px solid #fff;
border-radius: 23px;
opacity: .5;
}
.carousel-control.right {
left: auto;
right: 15px;
}
.carousel-control {
border: 0;
background: 0;
}





.cta-box h3 {
background: none repeat scroll 0 0 rgba(0,0,0,0);
border: medium none;
margin-top: 12px;
padding: 0;
}
.widget > h3 {

font-size: 16px;

border-bottom: 1px solid #eee;
}
h3 {
font-weight: 700;
text-shadow: 2px 1px 0 rgba(255,255,255,0.2);
}






.main-section {
background-color: #fff;
}


.main-section #companies .down_arrow, .main-section #companies.mod {
border-top-color: #1cc9cd;
    
}

.main-section .mod {
border-top: 1px solid;
}



div.img.cf{
    width: 1170px;
    height: 400px;
}


.main-section #companies .img {
border-top-color: #1cc9cd;
background-image: url("../img/companies.jpg");
background-position: -90px top;
}
.main-section .img {
background-size: cover;
background-repeat: no-repeat;
}
.main-section .content {
font-size: 20px;
line-height: 1.3;
text-align: justify;
}

 .content {
width: 600px;
    height:305px;
}
.main-section .content [class*="span"] {
position: relative;
}

[class*="span"] {
float: right;
min-height: 1px;
margin-right: 30px;
}

.main-section .down_arrow, .main-section .up_arrow {
border-color: transparent;
border-style: solid;
border-width: 20px 20px 0 20px;
display: table-cell;
position: absolute;
left: 50%;
    width: 0px;
    hyphens: 0px;
}
[class*="fa-"] {
display: inline-block;
font-style: normal;
font-weight: normal;
line-height: 1;
vertical-align: middle;
}
.fa-hand-o-left::before {
content: "\f0a5";
}
.main-section .goodco-short-desc {
font-size: 22px;
}
.center{
    width: 570px;
    height: 60px;
}
.center, .center p {
text-align: center!important;
}
.main-section #companies h2 {
color: #34a2b3;
}
.main-section h2 {
padding-top: 5%;
font-weight: bold;
}
h2 {
font-size: 24px;
font-weight: normal;
padding-bottom: 2px;
text-shadow: 0 0 1px rgba(255,255,255,0.2);
letter-spacing: -0.04em;
}
.main-section #people h2 {
color: #27ae60;
}
.main-section #people .down_arrow, .main-section #people.mod {
border-top-color: #2ecc71;
}

h1, h2, h3, h4, h5, h6 {
margin-top: 0;

}
.span6{
    width: 570px;
    height: 305px;
}
.main-section .goodco-short-desc.talent a {
color: #27ae60;
}

.main-section .mod.right .content {
float:right;
 
}
.main-section .content {
font-size: 20px;
line-height: 1.3;
text-align: justify;
}
.main-section .goodco-short-desc {
margin-top: -15px;
font-size: 22px;
}
main-section .content {

line-height: 1.3;
text-align: justify;
}
.btn.btn-wide {
min-width: 140px;
padding-left: 30px;
padding-right: 30px;
}
.btn.btn-large {
font-size: 17px;
line-height: 20px;
padding: 12px 18px 13px;
}
.hop {
margin-top: 15px;
}
.btn {
border: 0;
background: #6ec1ce;
color: #fff;
padding: 12px 12px 10px;
line-height: 22px;
font-size: 18px;
text-shadow: none;
margin-left: 2px;
margin-right: 1px;

}


.main-section {
background-color: #fff;
}
.main-section #blog_resource.mod {
border-bottom: 1px solid #9b59b6;
border-top: 1px solid #f1c40f;
}
div#blog_resource.mod .middle. blog_resource{
    width: 1349px;
    height: 400px;
    border-bottom: 1px;
    border-top: 1px;
}

.main-section #blog, .main-section #resources {
position: relative;
min-height: 400px;
}
.row-fluid [class*="span"]:first-child {
margin-right: 0;
}
#blog.span4 pull-right{
    width: 370px;
    height: 400px;
}


.main-section #blog h2 {
color: #f39c12;
text-align: center;
padding-top: 10%;
}
.main-section h2 {

font-weight: bold;
}
h2 {
font-size: 24px;

padding-bottom: 2px;

text-shadow: 0 0 1px rgba(255,255,255,0.2);
letter-spacing: -0.04em;
}
.btn. btn-embossed .btn-large .btn-yellow. pull-left{
    width: 269px;
    height: 45px;
}
.btn.btn-large {
font-size: 17px;
line-height: 20px;
padding: 12px 18px 13px;
}
.btn-yellow {
background: #f1c40f;
}
.btn {
border: 0;

color: #fff;

text-shadow: none;
margin-left: 2px;
margin-right: 1px;
border-radius: 3px;
box-shadow: none;

}
.btn {
display: inline-block;
margin-bottom: 0;
text-align: center;
vertical-align: middle;
cursor: pointer;

background-repeat: repeat-x;

border: 1px solid #ccc;
border-bottom-color: #b3b3b3;

border-radius: 4px;
}
.main-section #blog_resource .down_arrow {
border-top-color: #f1c40f;
}



.content{
    width: 370px;
    height: 324px;
}

.main-section .content {
font-size: 20px;
line-height: 1.3;
text-align: justify;
}

.main-section #blog, .main-section #resources {
position: relative;
min-height: 400px;
}
.row-fluid .span4 {
width: 31.623931623931625%;
}
.row-fluid [class*="span"] {
display: block;

min-height: 30px;


box-sizing: border-box;

margin-right: 2.564102564102564%;
}
.pull-left {
float: left!important;
}
.main-section #resources .content {
padding-top: 40px;
}
.main-section #resources h2 {
color: #8e44ad;
text-align: center;
}
.main-section h2 {
padding-top: 5%;
font-weight: bold;
}
h2 {
font-size: 24px;
padding-bottom: 2px;
text-shadow: 0 0 1px rgba(255,255,255,0.2);
letter-spacing: -0.04em;
}
.main-section #resources .content {
padding-top: 40px;
}
.main-section .content {
font-size: 20px;
line-height: 1.3;
text-align: justify;
}
.main-section #resources h2 {
color: #8e44ad;
text-align: center;
}
.main-section h2 {
padding-top: 5%;
font-weight: bold;
}
h2 {
font-size: 24px;

padding-bottom: 2px;
text-shadow: 0 0 1px rgba(255,255,255,0.2);
letter-spacing: -0.04em;
}
a.btn. btn-embossed. btn-large. btn-violet. pull-left{
width: 320px;
    height: 20px;
}
.btn-violet {
background: #9b59b6;
}
.main-section .blog_resource .img {
border-top-color: #f1c40f;
background-image: url("../img/blog.jpg");
background-position: right top;
background-repeat: no-repeat;
}



h3 {
font-size: 24px;
font-weight: 700;
padding-bottom: 4px;
padding-top: 0;
text-transform: uppercase;
text-shadow: 2px 1px 0 rgba(255,255,255,0.2);
}
.main-section .latest .latest-right {
border-left: 1px solid #7f8b97;
}
.main-section .latest .latest-right, .main-section .latest .latest-left {
position: relative!important;
font-size: 20px;
}
.row-fluid. latest-right{
    width: 571px;
    height: 160px;
}
.latest-right a {
height: 160px;
width: 120px;
}
.latest a, .latest .goodco-customer {
display: inline-block;
position: relative;
vertical-align: middle;
margin-right: 30px;
}
a.frame{
width:120px;
    height: 160px;
}
.latest-right div.frame {
height: 120px;
width: 120px;
}


.row-fluid .latest-company .frame frameMain{
    width: 132px;
    height: 132px;
}


.latest .frameMain {
text-align: center;
}
.main-section .latest-company, .main-section .latest-opportunity {
color: #34495e;
}
.latest-right div.frame img {
position: relative;
margin-right: 10px;
}
.footer-cta {
    
text-align: center;
color: #fff;
}

.btn.btn-wide {
min-width: 140px;
padding-left: 30px;
padding-right: 30px;
}

img {
max-width: 100%;

height: auto;
vertical-align: middle;
border: 0;

}
img {
display: inline-block;
}
.latest-right a .title {
width: 120px;
    height: 40px;
}

.latest-right a .title, .latest-left a .title {
background-color: rgba(252,252,252,0.8);
bottom: 5px;
color: #515151;
left: 5px;
position: absolute;
vertical-align: middle;
}
.latest-right a .title span, .latest-left a .title span {
display: block;
font-size: 16px;
overflow: hidden;
padding: 10px 5px;
text-align: center;
text-overflow: ellipsis;
text-shadow: 0 1px 0 white;
white-space: nowrap;
}
a.btn. btn-mini. btn-red{
    width: 118px;
    height: 33px;
}

.btn.btn-mini {
font-size: 14px;
padding: 8px 13px 9px;
line-height: 1.2;
}
.latest a, .latest .goodco-customer {
display: inline-block;
vertical-align: middle;
margin-right: 30px;
}
.btn-red {
background: #e74c3c;
}
.btn {
border: 0;
color: #fff;
line-height: 22px;
font-size: 18px;
text-shadow: none;
margin-left: 2px;
margin-right: 1px;
border-radius: 3px;

}
.btn {

margin-bottom: 0;


text-align: center;
vertical-align: middle;
cursor: pointer;

text-shadow: 0 1px 1px rgba(255,255,255,0.75);

background-repeat: repeat-x;

border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);

border: 1px solid #ccc;
border-bottom-color: #b3b3b3

border-radius: 4px;
box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}

h3 {
font-size: 24px;
font-weight: 700;
padding-bottom: 4px;
padding-top: 0;
text-transform: uppercase;

text-shadow: 2px 1px 0 rgba(255,255,255,0.2);
}

.main-section .latest .latest-left {
padding-top: 15px;
}









.main-section .latest {
padding: 60px 0;
}
.row-fluid [class*="span"]:first-child {
margin-right: 0;
}
.latest .col {
position: relative;
min-height: 250px;
}
.row-fluid .span6 {
width: 48.717948717948715%;
}
.span6.col{
    width: 570px;
    height: 250px;
}
.row-fluid [class*="span"] {
display: block;


box-sizing: border-box;
float: right;
}



section .latest .latest-left {
position: relative!important;
font-size: 20px;
}
.latest-left a {
height: 70px;
width: 200px;
}
.latest a, .latest .goodco-customer {
display: inline-block;
position: relative;
vertical-align: middle;
margin-right: 30px;
}
.latest .col .btn {
bottom: 0;
left: 12px;
position: absolute;
}
.btn.btn-mini {
font-size: 14px;
padding: 8px 13px 9px;
line-height: 1.2;
}
.latest a, .latest .goodco-customer {
display: inline-block;

vertical-align: middle;
margin-right: 30px;
}
.latest-left div.frame {
height: 30px;
width: 200px;
}
.latest div.frame {
background: none repeat scroll 0 0 #fcfcfc;
border: 1px solid #d0d0d0;
padding: 5px;
left: 0;
top: 0;
position: absolute;
text-align: center;
}
.latest .frameMain {
text-align: center;
}
.latest-opportunity {
color: #34495e;
}
div.title{
    width: 120px;
    height: 40px;
}
.latest-right a .title, .latest-left a .title {
background-color: rgba(252,252,252,0.8);
bottom: 5px;
color: #515151;
left: 5px;
position: absolute;
vertical-align: middle;
}
.latest .frameMain {
text-align: center;
}


div.footer-cta{
     width: 1349px;
    height: 270px;
}


.footer-cta {
background-image: url("../images/main-sections/footer-cta.jpg");
background-position: center top;
background-size: cover;
background-color: #7f8b97;
min-height: 350px;
text-align: center;
padding: 60px 0 20px 0;
color: #fff;
margin-bottom: -45px;

box-sizing: border-box;
}

span.span6. cta-right{
    width: 570px;
    height: 53px;
}
.btn-green {
background: #2ecc71;
}
.btn.btn-wide {
min-width: 140px;
padding-left: 30px;
padding-right: 30px;
}
.row-fluid .span6 {
width: 48.717948717948715%;
}
.footer-cta {
text-align: center;
color: #fff;
}



















.footer {
background-color: #e9edf2;
padding: 40px 0;
margin-top: 45px;
}

footer h4 {
color: #0275b6;
font-size: 17px;
text-shadow: 0 2px 1px rgba(250,250,250,0.65);
}
h4 {
line-height: 20px;
font-weight: 500;
padding-top: 4px;

}
footer ul {
padding: 0;
}
ul {
list-style: none;
}
footer li {
line-height: 1.5;
}
footer a {
color: #7f8fa0;
    font-size: 18px;
}

footer .carousel-indicators {
bottom: 0;
top: auto;
right: 50%;
text-align: center;
padding-right: 0;
margin-right: -40px;
}
.carousel-indicators {
position: absolute;
margin: 0;
list-style: none;
}
indicators .active {
background-color: #7f8fa0;
}
footer .carousel-indicators li {
border: 1px solid #7f8fa0;
float: right!important;
    cursor: pointer;
}
footer .carousel-indicators .active {
background-color: #7f8fa0;
}
footer .cpr {
border-top: 1px solid #7f8fa0;
padding-top: 15px;
text-align: center;
}
.flex-grid {
margin: 0 auto;


}

h1 {
    font-size: 32px;
    font-weight: normal;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.2);
}
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    padding-top: 10px;
} 
.slider-container {
    font-weight: bold;
    margin-top:30px
}


body {
    
    text-align: right;
    direction: rtl;
}



.container.fullscreen {
width: 100%;
}
.sections {
margin-top: 20px;
    width: 1349px;
    height: 1204px;
}
.row-fluid{
    width: 100%;
    
}
.main-section #blog_resource .up_arrow {
border-bottom-color: #9b59b6;
}
.main-section .up_arrow {
    border-width: 0 20px 20px 20px;
bottom: 0;
}
.main-section #people .img {
border-top-color: #2ecc71;
background-image: url("../img/people.jpg");
background-position: 140px -40px;
}
.bg{
    width: 1170px;
    height: 400px;
}
.main-section .mod.right .bg {
    background: -webkit-linear-gradient(left,#fff 15%,rgba(255,255,255,0.8) 60%,rgba(255,255,255,0) 70%,rgba(255,255,255,0.8) 90%,#fff 100%);
    min-height: 400px;
}
.row-fluid .sub-footer{
    width: 1349px;
    height: 0px;
}